body{
  background-color: rgb(252, 251, 251);
  width: 100%;
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
.img1{
  height: 400px;
  width: 400px;
}
.img2{
  height: 400px;
  width: 400px;
  margin-left: 15%;
}
.img3{
  height: 300px;
  width: 300px;
}
.img4{
  height: 300px;
  width: 300px;
  margin-left: 50%;
}
.img-container1{
  display:inline-flex;
  margin-left: 5%;
}
.img-container2{
  display:inline-flex;
  margin-left: 8%;
}
.rights{
  font-size: 20px;
  text-align: center;
}